/* GENERAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 4004;
  color: #e0e0e0;

  background-color: #1a1a1a;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.heading-1 {
  font-size: 4.8rem;
  margin-bottom: 2.4rem;
  letter-spacing: 1px;
}

.heading-2 {
  font-size: 3.8rem;
  margin-bottom: 2.4rem;
}

.heading-3 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #e0e0e0;
}

/* HEADER */
.logo {
  color: #e0e0e0;
  font-size: 3rem;
  font-weight: 500;
}

.main-nav-link {
  color: #e0e0e0;
  font-size: 1.8rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #333;
  margin-bottom: 4.8rem;

  height: 7.3rem;
  padding: 0 4.8rem;
}

.main-nav {
  font-size: 1.6rem;
}

.main-nav-list {
  list-style: none;

  display: flex;
  justify-content: center;
  gap: 3.5rem;
}

/* ABOUT */
.section-about {
  padding: 4.8rem 0 9.6rem 0;
  border-bottom: 1px solid #333;
}

.about {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 9.6rem;

  padding: 0 3.2rem;
  margin: 0 auto;
}

.about-description {
  font-size: 1.8rem;
  line-height: 1.5;
}

.about-img {
  width: 100%;
  border-radius: 50%;
}

/* PROJECTS */
.section-projects {
  padding: 4.8rem 0 9.6rem 0;
  border-bottom: 1px solid #333;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 6.4rem;

  gap: 3rem;
}

.project {
  border: 1px solid #555;
  border-radius: 1rem;
  padding: 1.6rem;
}

.project-img {
  width: 100%;
  margin-bottom: 1.2rem;
  border-radius: 5px;
}

.project-description {
  text-align: center;

  font-size: 1.6rem;
  line-height: 1.4;
}

/* SKILLS */
.section-skills {
  padding: 4.8rem 0 9.6rem 0;
  border-bottom: 1px solid #333;
}

.skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.6rem;

  padding: 0 8rem;
}

.skill {
  text-align: center;
  background-color: #e6fcf5;
  padding: 1.6rem 0;
  border-radius: 6px;

  transition: all 0.3s;
}
.skill:hover {
  background-color: #96f2d7;
}

.tool-icon {
  width: 50%;
}

/* CONTACT */
.section-contact {
  padding: 4.8rem 0 9.6rem 0;
  border-bottom: 1px solid #333;
}

.social-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 2.4rem;
  padding: 0 9.6rem;
}

.contact-icon {
  background-color: #e7f5ff;
  border-radius: 6px;
  padding: 3rem 0;

  transition: all 0.3s;
}
.contact-icon:hover {
  background-color: #a5d8ff;
}

.contact-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  width: 35%;
}

/* FOOTER */

.footer {
  padding: 2.4rem 0;
}

.copyright {
  font-size: 1.6rem;
}
